#forum .description{
  color: #EFEFEF; /* Colors should be lower case. Blank lines in class definitions are not allowed. */
  
  font-size:0.9em; /* There should be a space after the colon. */
    margin: 0.5em; /* Indentation error. */
}