#forum .description{
  color: #EFEFEF; /* Colors should be lower case. Blank lines in class definitions are not allowed. */
  
  font-size:0.9em; /* There should be a space after the colon. */
    margin: 0.5em; /* Indentation error. */
}

.testselector {display: table; border: none;}

/* Blank lines between selectors are not allowed. */
#forum td.posts,

#forum td.pager {
  /* Colors must be lower case. */
  color: #EFEFEF;
}

/* Empty definitions are not allowed. */
.book-navigation .page-previous {
}
