/**
 * @file
 * Valid example CSS file.
 */

#forum .description {
  color: #efefef;
  font-size: 0.9em;
  margin: 0.5em;
}

.testselector {
  display: table;
  border: none;
}

#forum td.posts,
#forum td.pager {
  color: #efefef;
}

@media screen and (max-device-width: 769px) {

  header #logo img {
    max-width: 100%;
  }

  .inner {
    min-width: 1281px;
    max-width: 1500px;
  }

}
