dist: xenial
language: php
sudo: false

# Cache composer downloads to speed up the composer install step.
cache:
  directories:
    - $HOME/.composer/cache

matrix:
  fast_finish: true
  include:
    - php: 5.4
    - php: 5.5
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: 7.3

before_install:
  # Speed up build time by disabling Xdebug when its not needed.
  - phpenv config-rm xdebug.ini || echo 'No xdebug config.'

before_script:
  # We don't have a composer.lock file because we always want to test with
  # latest dependencies.
  - composer install

script:
  - ./vendor/bin/phpunit
  - ./vendor/bin/phpcs -p
  - ./vendor/bin/phpcs -p --standard=coder_sniffer/Drupal/Test/phpcs-ruleset.xml coder_sniffer/Drupal/Test/good/ --ignore=coder_sniffer/Drupal/Test/good/GoodUnitTest.php
