language: php
sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - hhvm

before_script:
  # We don't have a composer.lock file because we always want to test with
  # latest dependencies.
  - composer install

script:
  - ./vendor/bin/phpunit
  - ./vendor/bin/phpcs
