parameters:
    level: 2
    paths:
        - coder_sniffer
    excludes_analyse:
        # Copied legacy code that we don't care much about.
        - 'coder_sniffer/DrupalPractice/Sniffs/CodeAnalysis/VariableAnalysisSniff.php'
        # Test base class that we should refactor to leverage upstream PHPCS better.
        - 'coder_sniffer/Drupal/Test/CoderSniffUnitTest.php'
        # Test files that should not be checked.
        - 'coder_sniffer/*/Test/*.tpl.php'
        - 'coder_sniffer/*/Test/*.api.php'
        - 'coder_sniffer/*/Test/*/good.php'
        - 'coder_sniffer/*/Test/*/bad.php'
        - 'coder_sniffer/*/Test/*/drupal[678]/*.php'
    autoload_files:
        - coder_sniffer/Drupal/Test/phpunit-bootstrap.php
    ignoreErrors:
        # Already fixed in PHP_CodeSniffer, remove once 3.5.4 is released.
        -
            count: 3
            message: '~^Cannot unset offset~'
            path: %currentWorkingDirectory%/coder_sniffer/Drupal/Sniffs/Formatting/MultipleStatementAlignmentSniff.php
        # PHPStan does not support variable variables, see https://github.com/phpstan/phpstan/issues/2810
        -
            count: 3
            message: '~^Undefined variable: \$value[123]$~'
            path: %currentWorkingDirectory%/coder_sniffer/Drupal/Sniffs/InfoFiles/ClassFilesSniff.php
        -
            count: 3
            message: '~^Undefined variable: \$value[123]$~'
            path: %currentWorkingDirectory%/coder_sniffer/Drupal/Sniffs/InfoFiles/DuplicateEntrySniff.php
        -
            count: 1
            message: '~^Variable \$key might not be defined.$~'
            path: %currentWorkingDirectory%/coder_sniffer/Drupal/Sniffs/InfoFiles/ClassFilesSniff.php
        -
            count: 1
            message: '~^Variable \$key might not be defined.$~'
            path: %currentWorkingDirectory%/coder_sniffer/Drupal/Sniffs/InfoFiles/DuplicateEntrySniff.php
        # We don't want to introduce abstract methods for the 2 calls because
        # the class is used in different ways where those methods are not
        # always necessary for implementors.
        -
            count: 2
            message: '~^Call to an undefined method Drupal\\Sniffs\\Semantics\\FunctionCall::(registerFunctionNames|processFunctionCall)\(\).$~'
            path: %currentWorkingDirectory%/coder_sniffer/Drupal/Sniffs/Semantics/FunctionCall.php
        # False positive: Variable $a in isset() always exists and is not
        # nullable. https://github.com/phpstan/phpstan/issues/2816
        -
            count: 2
            message: '~^Variable \$fileShort in isset\(\) always exists and is not nullable.$~'
            path: %currentWorkingDirectory%/coder_sniffer/Drupal/Sniffs/Commenting/DocCommentSniff.php
        # False positive on void return types, then a return statement is not
        # necessary. https://github.com/phpstan/phpstan/issues/2643
        - '~^Method .+\(\) should return int|void but return statement is missing\.$~'
        # Upstream PHPCS problem that we can ignore.
        -
            message: "#^Access to an undefined property PHP_CodeSniffer\\\\Config\\:\\:\\$annotations\\.$#"
            count: 1
            path: coder_sniffer/Drupal/Sniffs/WhiteSpace/ScopeIndentSniff.php
