parameters:
    level: 0
    paths:
        - coder_sniffer
    excludes_analyse:
        # Copied legacy code that we don't care much about.
        - 'coder_sniffer/DrupalPractice/Sniffs/CodeAnalysis/VariableAnalysisSniff.php'
        # Test base class that we should refactor to leverage upstream PHPCS better.
        - 'coder_sniffer/Drupal/Test/CoderSniffUnitTest.php'
        # Test files that should not be checked.
        - 'coder_sniffer/*/Test/*.tpl.php'
        - 'coder_sniffer/*/Test/*.api.php'
        - 'coder_sniffer/*/Test/*/good.php'
        - 'coder_sniffer/*/Test/*/bad.php'
        - 'coder_sniffer/*/Test/*/drupal[678]/*.php'
    autoload_files:
        - coder_sniffer/Drupal/Test/phpunit-bootstrap.php
    ignoreErrors:
        # Already fixed in PHP_CodeSniffer, remove once 3.5.4 is released.
        -
            count: 3
            message: '~^Cannot unset offset~'
            path: %currentWorkingDirectory%/coder_sniffer/Drupal/Sniffs/Formatting/MultipleStatementAlignmentSniff.php
        # PHPStan does not support variable variables, see https://github.com/phpstan/phpstan/issues/2810
        -
            count: 3
            message: '~^Undefined variable: \$value[123]$~'
            path: %currentWorkingDirectory%/coder_sniffer/Drupal/Sniffs/InfoFiles/ClassFilesSniff.php
        -
            count: 3
            message: '~^Undefined variable: \$value[123]$~'
            path: %currentWorkingDirectory%/coder_sniffer/Drupal/Sniffs/InfoFiles/DuplicateEntrySniff.php
        # We don't want to introduce abstract methods for the 2 calls because
        # the class is used in different ways where those methods are not
        # always necessary for implementors.
        -
            count: 2
            message: '~^Call to an undefined method Drupal\\Sniffs\\Semantics\\FunctionCall::(registerFunctionNames|processFunctionCall)\(\).$~'
            path: %currentWorkingDirectory%/coder_sniffer/Drupal/Sniffs/Semantics/FunctionCall.php
